<div id="<%= dom_id observation %>">
  <p>
    <strong>Site:</strong>
    <%= observation.site %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= observation.date %>
  </p>

  <p>
    <strong>Surpressure:</strong>
    <%= observation.surPressure %>
  </p>

  <p>
    <strong>Surtemperature:</strong>
    <%= observation.surTemperature %>
  </p>

  <p>
    <strong>Surdewpoint:</strong>
    <%= observation.surDewPoint %>
  </p>

  <p>
    <strong>Surhumidity:</strong>
    <%= observation.surHumidity %>
  </p>

  <p>
    <strong>Surwinddirection:</strong>
    <%= observation.surWindDirection %>
  </p>

  <p>
    <strong>Surwindspeed:</strong>
    <%= observation.surWindSpeed %>
  </p>

  <p>
    <strong>Surheight:</strong>
    <%= observation.surHeight %>
  </p>

  <p>
    <strong>Ninepressure:</strong>
    <%= observation.ninePressure %>
  </p>

  <p>
    <strong>Ninetemperature:</strong>
    <%= observation.nineTemperature %>
  </p>

  <p>
    <strong>Ninedewpoint:</strong>
    <%= observation.nineDewPoint %>
  </p>

  <p>
    <strong>Ninehumidity:</strong>
    <%= observation.nineHumidity %>
  </p>

  <p>
    <strong>Ninewinddirection:</strong>
    <%= observation.nineWindDirection %>
  </p>

  <p>
    <strong>Ninewindspeed:</strong>
    <%= observation.nineWindSpeed %>
  </p>

  <p>
    <strong>Nineheight:</strong>
    <%= observation.nineHeight %>
  </p>

  <p>
    <strong>Eightpressure:</strong>
    <%= observation.eightPressure %>
  </p>

  <p>
    <strong>Eighttemperature:</strong>
    <%= observation.eightTemperature %>
  </p>

  <p>
    <strong>Eightdewpoint:</strong>
    <%= observation.eightDewPoint %>
  </p>

  <p>
    <strong>Eighthumidity:</strong>
    <%= observation.eightHumidity %>
  </p>

  <p>
    <strong>Eightwinddirection:</strong>
    <%= observation.eightWindDirection %>
  </p>

  <p>
    <strong>Eightwindspeed:</strong>
    <%= observation.eightWindSpeed %>
  </p>

  <p>
    <strong>Eightheight:</strong>
    <%= observation.eightHeight %>
  </p>

  <p>
    <strong>Sevenpressure:</strong>
    <%= observation.sevenPressure %>
  </p>

  <p>
    <strong>Seventemperature:</strong>
    <%= observation.sevenTemperature %>
  </p>

  <p>
    <strong>Sevendewpoint:</strong>
    <%= observation.sevenDewPoint %>
  </p>

  <p>
    <strong>Sevenhumidity:</strong>
    <%= observation.sevenHumidity %>
  </p>

  <p>
    <strong>Sevenwinddirection:</strong>
    <%= observation.sevenWindDirection %>
  </p>

  <p>
    <strong>Sevenwindspeed:</strong>
    <%= observation.sevenWindSpeed %>
  </p>

  <p>
    <strong>Sevenheight:</strong>
    <%= observation.sevenHeight %>
  </p>

  <p>
    <strong>Lake effect snow event:</strong>
    <%= observation.lake_effect_snow_event_id %>
  </p>

</div>
