<div id="<%= dom_id snow_report %>">
  <p>
    <strong>Lastname:</strong>
    <%= snow_report.lastName %>
  </p>

  <p>
    <strong>City:</strong>
    <%= snow_report.city %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= snow_report.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= snow_report.longitude %>
  </p>

  <p>
    <strong>Stormtotal:</strong>
    <%= snow_report.stormTotal %>
  </p>

  <p>
    <strong>Lakeeffectsnowevent:</strong>
    <%= snow_report.lakeEffectSnowEvent_id %>
  </p>

</div>
