<p style="color: green"><%= notice %></p>

<%= render @snow_report %>

<div>
  <%= link_to "Edit this snow report", edit_snow_report_path(@snow_report) %> |
  <%= link_to "Back to snow reports", snow_reports_path %>

  <%= button_to "Destroy this snow report", @snow_report, method: :delete %>
</div>
