<div id="<%= dom_id metar %>">
  <p>
    <strong>Site:</strong>
    <%= metar.site %>
  </p>

  <p>
    <strong>Observationtime:</strong>
    <%= metar.observationTime %>
  </p>

  <p>
    <strong>Temperature:</strong>
    <%= metar.temperature %>
  </p>

  <p>
    <strong>Dewpoint:</strong>
    <%= metar.dewPoint %>
  </p>

  <p>
    <strong>Humidity:</strong>
    <%= metar.humidity %>
  </p>

  <p>
    <strong>Winddirection:</strong>
    <%= metar.windDirection %>
  </p>

  <p>
    <strong>Windspeed:</strong>
    <%= metar.windSpeed %>
  </p>

  <p>
    <strong>Meanlevelseapressure:</strong>
    <%= metar.meanLevelSeaPressure %>
  </p>

  <p>
    <strong>Visibility:</strong>
    <%= metar.visibility %>
  </p>

  <p>
    <strong>Windgust:</strong>
    <%= metar.windGust %>
  </p>

  <p>
    <strong>Presentwx:</strong>
    <%= metar.presentWX %>
  </p>

  <p>
    <strong>Peakwindgust:</strong>
    <%= metar.peakWindGust %>
  </p>

  <p>
    <strong>Peakwinddirection:</strong>
    <%= metar.peakWindDirection %>
  </p>

  <p>
    <strong>Peakwindtime:</strong>
    <%= metar.peakWindTime %>
  </p>

  <p>
    <strong>Lakeeffectsnowevent:</strong>
    <%= metar.lakeEffectSnowEvent_id %>
  </p>

</div>
