<div id="<%= dom_id lake_effect_snow_event %>">
  <h2 class="text-center">
    <strong><%= lake_effect_snow_event.eventName %></strong>
  </h2>

  <table class="table table-bordered">
  <thead class="thead-dark">
    <tr>

      <th scope="col">Event Name</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Peak Start Time</th>
      <th scope="col">Peak End Time</th>
      <th scope="col">Avg Lake Surface Temperature</th>
      <th scope="col">LES Event Type</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>

      <td><%= lake_effect_snow_event.eventName=%></td>
      <td><%= lake_effect_snow_event.startDate %> at <%= lake_effect_snow_event.startTime %>Z</td>
      <td><%= lake_effect_snow_event.endDate %> at <%= lake_effect_snow_event.endTime %>Z</td>
      <td><%= lake_effect_snow_event.peakStartDate %> at <%= lake_effect_snow_event.peakStartTime %>Z</td>
      <td><%= lake_effect_snow_event.peakEndDate %> at <%= lake_effect_snow_event.peakEndTime %>Z</td>
      <td><%= lake_effect_snow_event.averageLakeSurfaceTemperature %></td>
      <td><%= lake_effect_snow_event.eventType %></td>
    </tr>
  </tbody>
    
</table>
</div>


