<p style="color: green"><%= notice %></p>

<h1 class="text-center">Search Results</h1>

<div id="lake_effect_snow_events">
  <table id="sortTable" class="table table-striped table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Event Name</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Start Peak Time</th>
      <th scope="col">End Peak Time</th>
      <th scope="col">Average Lake Surface Temperature</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
   <% @results.each do |event| %>
    <tr>
      <td scope="row"><%=link_to event.id, event %></td>
      <td><%=link_to event.eventName, event %></td>
      <td><%= event.startDate %> at <%= event.startTime %>Z</td>
      <td><%= event.endDate %> at <%= event.endTime %>Z</td>
      <td><%= event.peakStartDate %> at <%= event.peakStartTime %>Z</td>
      <td><%= event.peakEndDate %> at <%= event.peakEndTime %>Z</td>
      <td><%= event.averageLakeSurfaceTemperature %></td>
    </tr>
  <% end %>
  </tbody>
    
</table>
  
</div>

<%= link_to "Search Events", search_lake_effect_snow_events_path, class:"btn btn-dark mb-2" %>
<%= link_to "Back to all events", lake_effect_snow_events_path, class:"btn btn-dark" %>


<div class = "border mt-2 mb-2">
  <%= column_chart @surSpeedGraph, xtitle: "Average Peak Event Time - Surface Wind Speeds (kts)", ytitle: "Event Names" %>
</div>
<div class = "border mt-2 mb-2">
  <%= column_chart @nineSpeedGraph, xtitle: "Average Peak Event Time - 925mb Wind Speeds (kts)", ytitle: "Event Names" %>
</div>
<div class = "border mt-2 mb-2">
  <%= column_chart @eightSpeedGraph, xtitle: "Average Peak Event Time - 850mb Wind Speeds (kts)", ytitle: "Event Names" %>
</div>
<div class = "border mt-2 mb-2">
  <%= column_chart @delta850Graph, xtitle: "Average Peak Event Time - Lake Surface to 850mb ΔT", ytitle: "Event Names" %>
</div>
<div class = "border mt-2 mb-2">
  <%= column_chart @delta700Graph, xtitle: "Average Peak Event Time - Lake Surface to 700mb ΔT", ytitle: "Event Names" %>
</div>
<div class = "border mt-2 mb-2">
  <%= column_chart @capeGraph, xtitle: "Average Peak Event Time - Lake Induced Cape", ytitle: "Event Names" %>
</div>
<div class = "border mt-2 mb-2">
  <%= column_chart @ncapeGraph, xtitle: "Average Peak Event Time - Lake Induced NCape", ytitle: "Event Names" %>
</div>
<div class = "border mt-2 mb-2">
  <%= column_chart @eqlGraph, xtitle: "Average Peak Event Time - Lake Induced EQL", ytitle: "Event Names" %>
</div>

<script>
  $(document).ready(function () {
    if(document.getElementById('sortTable_wrapper')==null){
      $('#sortTable').dataTable({
        paging: false,
        searching: false,
      });
      $('.dataTables_length').addClass('bs-select');
    }
  });
</script>