<p style="color: green"><%= notice %></p>

<%= render @lake_effect_snow_event %>

<div class="p-1 text-center">
  <%= link_to "Back to all events", lake_effect_snow_events_path, class:"btn btn-secondary" %>
  <%= link_to "Edit", edit_lake_effect_snow_event_path(@lake_effect_snow_event), class:"btn btn-primary" %>
  <%= button_to "Delete this event", @lake_effect_snow_event, method: :delete, class:"btn btn-danger" %>
</div>

<div class="p-1 text-center">
  <button type="button" class="btn btn-success">Generate BUFKIT and METARS data</button>
  <% #link_to 'Generate BUFKIT and METARS data', file_snow_reports_url(:event_id => @lake_effect_snow_event.id), class:"btn btn-success" %>
  <%= link_to 'Add Snow Report CSV file', file_snow_reports_url(:event_id => @lake_effect_snow_event.id), class:"btn btn-success" %>

</div>

<div>
  <p>All BUFKIT, METARS, Snow Report Information goes here</p>
  <div id="BUFKIT" class="row text-center">
    <p>BUFKIT DATA</p>
    <div id="NAM" class="col text-center">
      <p>NAM DATA</p>
    </div>
    <div id="RAP" class="col text-center">
      <p>RAP DATA</p>
    </div>
  </div>
  <div id="METARS" class="text-center">
    <p>METARS DATA</p>
  </div>
  <div id="SnowReports" class="text-center container">
    <p>SNOW REPORTS</p>
    <table class="table table-striped table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Last Name</th>
      <th scope="col">Town/City</th>
      <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
      <th scope="col">Storm Total</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
   <% @snow_reports.each do |report| %>
    <tr>
      <td><%=link_to report.lastName, report %></td>
      <td><%= report.city %></td>
      <td><%= report.latitude %></td>
      <td><%= report.longitude %></td>
      <td><%= report.stormTotal %></td>
    </tr>
  <% end %>
  </tbody>
  </div>
</div>
