<div id="<%= dom_id bufkit %>">
  <p>
    <strong>Modeltype:</strong>
    <%= bufkit.modelType %>
  </p>

  <p>
    <strong>Lowtemp:</strong>
    <%= bufkit.lowTemp %>
  </p>

  <p>
    <strong>Lowdew:</strong>
    <%= bufkit.lowDew %>
  </p>

  <p>
    <strong>Lowhumidity:</strong>
    <%= bufkit.lowHumidity %>
  </p>

  <p>
    <strong>Lowwinddirection:</strong>
    <%= bufkit.lowWindDirection %>
  </p>

  <p>
    <strong>Lowwindspeed:</strong>
    <%= bufkit.lowWindSpeed %>
  </p>

  <p>
    <strong>Lowheight:</strong>
    <%= bufkit.lowHeight %>
  </p>

  <p>
    <strong>Medtemp:</strong>
    <%= bufkit.medTemp %>
  </p>

  <p>
    <strong>Meddew:</strong>
    <%= bufkit.medDew %>
  </p>

  <p>
    <strong>Medhumidity:</strong>
    <%= bufkit.medHumidity %>
  </p>

  <p>
    <strong>Medwinddirection:</strong>
    <%= bufkit.medWindDirection %>
  </p>

  <p>
    <strong>Medwindspeed:</strong>
    <%= bufkit.medWindSpeed %>
  </p>

  <p>
    <strong>Medheight:</strong>
    <%= bufkit.medHeight %>
  </p>

  <p>
    <strong>Hightemp:</strong>
    <%= bufkit.highTemp %>
  </p>

  <p>
    <strong>Highdew:</strong>
    <%= bufkit.highDew %>
  </p>

  <p>
    <strong>Highhumidity:</strong>
    <%= bufkit.highHumidity %>
  </p>

  <p>
    <strong>Highwinddirection:</strong>
    <%= bufkit.highWindDirection %>
  </p>

  <p>
    <strong>Highwindspeed:</strong>
    <%= bufkit.highWindSpeed %>
  </p>

  <p>
    <strong>Highheight:</strong>
    <%= bufkit.highHeight %>
  </p>

  <p>
    <strong>Modelcape:</strong>
    <%= bufkit.modelCape %>
  </p>

  <p>
    <strong>Lakeeffectcape:</strong>
    <%= bufkit.lakeEffectCape %>
  </p>

  <p>
    <strong>Lakeeffectncape:</strong>
    <%= bufkit.lakeEffectNCape %>
  </p>

  <p>
    <strong>Lakeeffecteql:</strong>
    <%= bufkit.lakeEffectEQL %>
  </p>

  <p>
    <strong>Tenmeterwinddirection:</strong>
    <%= bufkit.tenMeterWindDirection %>
  </p>

  <p>
    <strong>Tenmeterwindspeed:</strong>
    <%= bufkit.tenMeterWindSpeed %>
  </p>

  <p>
    <strong>BulkShear:</strong>
    <%= bufkit.bulkShear %>
  </p>

  <p>
    <strong>BulkShearU:</strong>
    <%= bufkit.bulkShearU %>
  </p>

  <p>
    <strong>Tenmeterwindspeed:</strong>
    <%= bufkit.bulkShearV %>
  </p>

  <p>
    <strong>Tenmeterwindspeed:</strong>
    <%= bufkit.lowDeltaT %>
  </p>

  <p>
    <strong>Tenmeterwindspeed:</strong>
    <%= bufkit.highDeltaT %>
  </p>

  <p>
    <strong>Lakeeffectsnowevent:</strong>
    <%= bufkit.lake_effect_snow_event_id %>
  </p>

</div>
