<script>
  function showBBufData(dataToShow, flag){
    var arrayOfSites = ["kcle", "keri", "kgkl", "le1", "le2"]
    var documentArray = []
    var nam = document.getElementById("BNAM");
    var rap = document.getElementById("BRAP");

    nam.style.display = 'none'
    rap.style.display  = 'none'

    if(flag){
      for(let i = 0; i < arrayOfSites.length; i++){documentArray.push(document.getElementById("bn"+arrayOfSites[i]));}
      nam.style.display = 'block';
    } else {
      for(let i = 0; i < arrayOfSites.length; i++){documentArray.push(document.getElementById("br"+arrayOfSites[i]));}
      rap.style.display = 'block';
    }
    
    for(let i = 0; i < documentArray.length; i++){documentArray[i].style.display = 'none';}
    documentArray[dataToShow-1].style.display = null;
  }
</script>

<p style="color: green"><%= notice %></p>
<h1 class="text-center">All BUFKIT Data</h1>

<div class="pb-4 pt-4">
  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
      <%= button_tag  'NAM Data', id:"nam", class:"nav-link link-dark", :onclick => "showBBufData(1, true)" %>
    </li>
    <li class="nav-item">
      <%= button_tag  'RAP Data', id:"rap", class:"nav-link link-dark", :onclick => "showBBufData(1, false)" %>
    </li>
  </ul>
</div>

<div id="bufData">
  <div id="BNAM" class="text-center container">
    <div id="tFields" class="pb-4">
      <ul class="nav nav-tabs nav-fill">
        <% namMenu = 1 %>
        <% @tableBufIDs.each do |id| %>
          <li class="nav-item">
            <%= button_tag  "NAM "+id.upcase(), class:"nav-link link-dark", :onclick => "showBBufData(#{namMenu}, true)" %>
          </li>
          <% namMenu = namMenu + 1%>
        <% end %>
      </ul>
    </div>

    <% namVal = 0 %>
    <% @tableNAM.each do |nams| %>
      <table id = "bn<%= @tableBufIDs[namVal] %>" class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <% @tableHeaderBuf.each do |head| %>
              <th scope="col" style="writing-mode: vertical-rl;transform: scale(-1,-1)"><%= head %></th>
            <% end %>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% nams.each do |bufkit| %>
            <tr>
              <% value = 1 %>
              <% bufkit.attributes.each do |attr_value| %>
                <% if (value == 1) %>
                  <td><%= link_to attr_value[1], lake_effect_snow_event_url(bufkit.lake_effect_snow_event_id) %></td>
                <% end %>
                <% if (value > 1) && (value < 38) %>
                  <td><%= attr_value[1] %></td>
                <% end %>
                <% value = value + 1%>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% namVal = namVal + 1%>
    <% end %>
  </div>

  <div id="BRAP" class="text-center container">
    <div id="tFields" class="pb-4">
      <ul class="nav nav-tabs nav-fill">
        <% rapMenu = 1 %>
        <% @tableBufIDs.each do |id| %>
          <li class="nav-item">
            <%= button_tag  "RAP "+id.upcase(), class:"nav-link link-dark", :onclick => "showBBufData(#{rapMenu}, false)" %>
          </li>
          <% rapMenu = rapMenu + 1%>
        <% end %>
      </ul>
    </div>

    <% rapVal = 0 %>
    <% @tableRAP.each do |raps| %>
      <table id = "br<%= @tableBufIDs[rapVal] %>" class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <% @tableHeaderBuf.each do |head| %>
              <th scope="col" style="writing-mode: vertical-rl;transform: scale(-1,-1)"><%= head %></th>
            <% end %>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% raps.each do |bufkit| %>
            <tr>
              <% value = 1 %>
              <% bufkit.attributes.each do |attr_value| %>
                <% if (value == 1) %>
                  <td><%= link_to attr_value[1], lake_effect_snow_event_url(bufkit.lake_effect_snow_event_id) %></td>
                <% end %>
                <% if (value > 1) && (value < 38) %>
                  <td><%= attr_value[1] %></td>
                <% end %>
                <% value = value + 1%>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% rapVal = rapVal + 1%>
    <% end %>
  </div>
</div>

<% @tableBufIDs.each do |id| %>
  <script>
    $(document).ready(function () {
      if(document.getElementById('br<%= id %>_wrapper')==null){
        $('#br<%= id %>').dataTable({
          paging: false,
          searching: false,
          "bInfo": false
        });
        $('.dataTables_length').addClass('bs-select');
      }
      if(document.getElementById('bn<%= id %>_wrapper')==null){
        $('#bn<%= id %>').dataTable({
          paging: false,
          searching: false,
          "bInfo": false
        });
        $('.dataTables_length').addClass('bs-select');
      }
    });
  </script>
<% end %>